<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <link type="text/css" rel="stylesheet" href="/resources/static/css/jquery-ui.min.css"/>
    <link type="text/css" rel="stylesheet" href="/resources/static/css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="/resources/static/css/material-icons.css"/>
    <link type="text/css" rel="stylesheet" href="/resources/static/css/main.css"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	
	<script src="/resources/static/js/jquery-3.3.1.min.js"></script>
    <script src="/resources/static/js/jquery-ui.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"/>
  
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

	<script src="/resources/static/js/materialize.min.js"></script>
    <script src="/resources/static/js/addform.js"></script>
	<script src="/resources/static/js/admin.js"></script>

	

</head>

<body>


  <nav class="nav-extended green accent-4">

      <div class="nav-wrapper">
          <a href="/" class="brand-logo">БНТУ</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/home"><i class="material-icons">home</i></a></li>
            <li><a href="#"><i class="material-icons">refresh</i></a></li>
            <li><a href="#"><i class="material-icons">more_vert</i></a></li>
          </ul>



      </div>

			<div class="nav-content">
					<ul class="tabs tabs-transparent">
            <li class="tab col s3"><a onclick="openTableEvent('urn:jsonschema:com:java:domain:Users', '?enabled=True');">
                      <i class="material-icons left">people</i>
                      Аккаунты</a></li>
            <li class="tab col s3"><a onclick="openTableEvent('urn:jsonschema:com:java:domain:Users', '?enabled=False');">
							<i class="material-icons left">info</i>
              Заявки</a></li>
            <li class="tab col s3"><a onclick="openTableEvent('urn:jsonschema:com:java:domain:UserRoles','');">
							<i class="material-icons left">info</i>
              Роли</a></li>
            <li class="tab col s3"><a onclick="openTableEvent('urn:jsonschema:com:java:domain:Access', '');">
							<i class="material-icons left">info</i>
              Доступы</a></li>
</ul>
    </div>
    </nav>




		<div class="row">
		<div class="col m3 l3">
			<ul class="collapsible">
				<li>
					<div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Кабинет</div>
					<div class="collapsible-body"><span>
						<a class="waves-effect waves-light btn green accent-4" style="width: 100%;"  href="/home">
							<i class="material-icons left">home</i>
                                                        Мой кабинет</a><br></br>
						<a class="waves-effect waves-light btn green accent-4" style="width: 100%;"  href="#exams-schedule">
							<i class="material-icons left">event</i>
							Расписание экзаменов</a><br/>

					</span></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Объекты</div>
					<div class="collapsible-body"><span>



						<a class="waves-effect waves-light btn green accent-4" style="width: 100%;"  href="/objects">
							<i class="material-icons left">subject</i>
							Объекты</a>

						<br></br>
						<a class="waves-effect waves-light btn green accent-4" style="width: 100%;" href="/home">
							<i class="material-icons left">people</i>
							Пользователи и заявки</a>
							<br></br>
							<a class="waves-effect waves-light btn green accent-4" style="width: 100%;" href="/managerole">
							<i class="material-icons left">info</i>
							Роли</a>
					</span>
				</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Аккаунт</div>
					<div class="collapsible-body"><span>


						<a class="waves-effect waves-light btn green accent-4" style="width: 100%;" href="/mypage">
							<i class="material-icons left">account_circle</i>
							Мой аккаунт</a><br></br>

						<a class="waves-effect waves-light btn yellow accent-4" style="width: 100%;" href="#exams-schedule">
							<i class="material-icons left">settings</i>
							Настройки</a><br></br>

						<a class="waves-effect waves-light btn red accent-4 extendfull" href="/logout" style="width: 100%;">
							<i class="material-icons left">exit_to_app</i>
							Выход</a>
					</span></div>
				</li>
			</ul>
		</div>
  <div id="users-list" class="col s8">

    <h4 class="tab-body-header">Список пользователей</h4>

    <div class="row">


			<div class="right">
                    <a class="waves-effect waves-light btn green accent-4" onclick="openAddCreateModal()">
                    <i class="material-icons left">add</i>
                    Добавить</a>

        <a class="waves-effect waves-light btn green accent-4" href="#">
                    <i class="material-icons left">email</i>
                    Пригласить</a>
				</div>

				<div id='table-form'>
        			<table id = "data-tr-table" class="highlight">
        			</table>
    			</div>

    </div>
</div>

		</div>
</body>

</html>
