<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Пожалуйста, войдите!</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/resources/static/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/resources/static/css/jquery-ui.min.css"/>
        <link type="text/css" rel="stylesheet" href="/resources/static/css/jquery-ui.min.css"/>
        <link type="text/css" rel="stylesheet" href="/resources/static/css/materialize.min.css"/>
        <link type="text/css" rel="stylesheet" href="/resources/static/css/material-icons.css"/>
        <link type="text/css" rel="stylesheet" href="/resources/static/css/main.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <script src="/resources/static/js/jquery-3.3.1.min.js"></script>
        <script src="/resources/static/js/jquery-ui.min.js"></script>
        <script src="/resources/static/js/materialize.min.js"></script>
        <script src="/resources/static/js/login.js"></script>

    </head>
    <body>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">БНТУ</a>
            </div>
        </nav>

        <div id ="login-modal" class="modal">
            <div class="modal-content center">
                <div>
                    <h5 class="loads-modal-header">Вход</h5>
                    <div th:if="${param.error}">
                        <p style="color: red">Логин или пароль не верны.</p>

                    </div>
                    <div th:if="${param.logout}">
                        <h1 style="color: blue">Выход.</h1>
                    </div>
                    <form id="login-form" th:action="@{/api/auth/signin}" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">person_outline</i>
                                <label for="username">Логин(email): </label>
                                <input type="text" class="validate" id="username" placeholder="Введите логин" name="username"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <label for="password">Пароль </label>
                                <input type="password" class="validate" id="password" placeholder="Введите пароль" name="password"/>
                            </div>
                        </div>
                        <a class="modal-close btn waves-effect waves-light green accent-4" onclick="LoginClick()" name="action">Войти
                            <i class="material-icons right">send</i>
                        </a>
                    </form>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small">
                            <a class="modal-close btn waves-effect waves-light green accent-4 left" href="/registration/">Присоединиться</a>
                        </p>
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-small">
                            <a class="modal-close btn waves-effect waves-light green accent-4 right" href="/resetPassword">Забыли пароль?</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>