<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <link type="text/css" rel="stylesheet" href="/resources/static/css/jquery-ui.min.css"/>
        <link type="text/css" rel="stylesheet" href="/resources/static/css/materialize.min.css"/>
        <link type="text/css" rel="stylesheet" href="/resources/static/css/material-icons.css"/>
        <link type="text/css" rel="stylesheet" href="/resources/static/css/main.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

        <script src="/resources/static/js/jquery-3.3.1.min.js"></script>
        <script src="/resources/static/js/jquery-ui.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"/>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


        <script src="/resources/static/js/materialize.min.js"></script>
        <script src="/resources/static/js/main.js"></script>

    </head>

    <body id='body'>

        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">БНТУ</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/home"><i class="material-icons">home</i></a></li>
                    <li><a href="/mypage"><i class="material-icons">account_circle</i></a></li>
                    <li><a href="#"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </nav>



        <div id="study-data" class="col s12">
            <h4 class="tab-body-header">Данные для заполенния</h4>


            <div class="flex-row study-subjects-body">


                <div class="subjects-tab subjects-list">

                    <p class="subjects-list-header"><b>Формы</b></p>

                    <ul id="data-list" class="collection">

                    </ul>
                </div>
                <div class="subjects-form">
                    <div class="row">
                        <div class="right">
                            <a class="waves-effect waves-light btn green accent-4" onclick="openAddCreateModal()"><i class="material-icons left">add</i>Добавить</a>
                        </div>
                        <div id="table-forme">
                            <table class="highlight" id="data-tr-table">
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    <span>Copyright © 2020 <a class="grey-text text-lighten-4" href="/" target="_blank">БНТУ</a> All rights not reserved.</span>
                </div>
            </div>
        </footer>        
    </body>

</html>